{% extends 'base.html.twig' %}

{% block title %}Teams {{ team.name }}- Zappy Leaderboard{% endblock %}

{% block body %}
    <div class="">
        <h1 class="">{{ team.name }}</h1>
        <img class="" src="../assets/images/{{ team.name }}.png" alt="{{ team.name }} logo">
        <p>Présentation</p>
        <table>
            <tr class="">
                <th>Nom de l'équipe</th>
                <th>Nombre de victoires</th>
                <th>Nombre de match nulle</th>
                <th>Nombre de défaites</th>
                <th>Nombre de points</th>
            </tr>
            <tr class="rankingRowTable">
                <th>{{ team.name }}</th>
                <th>
                    {% set nbwin = 0 %}
                    {% for match in matches%}
                        {% if (team.id == match.idTeam1.id and match.winner == 1) or (team.id == match.idTeam2.id and match.winner == 2)%}
                            {% set nbwin = nbwin+1 %}
                        {% endif %}
                    {% endfor %}
                    {{ nbwin }}
                </th>
                <th>
                    {% set nbnull = 0 %}
                    {% for match in matches%}
                        {% if (team.id == match.idTeam1.id and match.winner == 0) or (team.id == match.idTeam2.id and match.winner == 0)%}
                            {% set nbnull = nbnull+1 %}
                        {% endif %}
                    {% endfor %}
                    {{ nbnull }}
                </th>
                <th>
                    {% set nblose = 0 %}
                    {% for match in matches%}
                        {% if (team.id == match.idTeam1.id and match.winner == 2) or (team.id == match.idTeam2.id and match.winner == 1)%}
                            {% set nblose = nblose+1 %}
                        {% endif %}
                    {% endfor %}
                    {{ nblose }}
                </th>
                <th>
                    {% set nbpoints = 3*nbwin + 1*nbnull + 0*nblose %}
                    {{ nbpoints }}
                </th>
            </tr>
        </table>
    </div>
    <div class="">
        <table class="">
            <tr class="">
                <th>Equipe 1</th>
                <th>Equipe 2</th>
                <th>Statut</th>
                <th>Durée</th>
            </tr>
                {% for match in matches %}
                    {% if (team.id == match.idTeam1.id or team.id == match.idTeam2.id) %}
                        <tr>
                            <th>{{ match.idTeam1.name }}</th>
                            <th>{{ match.idTeam2.name }}</th>
                            <th>
                                {% if ((team.id == match.idTeam1.id and match.winner == 1) or (team.id == match.idTeam2.id and match.winner == 2)) %}
                                    Victoire
                                {% elseif ((team.id == match.idTeam1.id and match.winner == 2) or (team.id == match.idTeam2.id and match.winner == 1))%}
                                    Défaite
                                {% else %}
                                    Match nulle
                                {% endif %}

                            </th>
                            <th>
                                {% set difference = match.end.diff(match.start) %}
                                {% set timehour = difference.h %}
                                {{ timehour }} minutes
                            </th>
                        </tr>
                    {% endif %}
                {% endfor %}
        </table>
    </div>
{% endblock %}
